=link_to 'New Player', new_player_path, class: 'button'
%br
=link_to 'New Game', new_game_path, class: 'button'

%table
  %thead
    %tr
      %th{:width => "200"} Pelaaja
      %th{:width => "100px"} Rating
      %th{:width => "150"} Meta Header
      %th{:width => "150"} Meta Header
  %tbody
    %tr
      %td Samuli
      %td 1650
      %td Metaa
      %td Metaa
    %tr
      %td Tide
      %td 1505
      %td Metaa
      %td Metaa
    %tr
      %td OsQu
      %td 1420
      %td Metaa
      %td Metaa

